.checkout {
  padding-inline: 24px;
}
.checkout-item {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 16px;
}
.checkout-image,
.checkout-delete {
  flex: 1;
}
.checkout-image {
  height: 56px;
}
.checkout-info {
  flex: 3;
}
.checkout-info > p {
  line-height: 20px;
  color: var(--Dark-grayish-blue);
}
.checkout-info span {
  color: var(--Very-dark-blue);
  font-weight: 700;
}
.checkout-image img {
  width: 100%;
  height: 100%;
}
.checkout-button {
}
.btn.checkout {
  width: 100%;
  padding: 12px;
  font-weight: 700;
  border-radius: 12px;
  background-color: #dc7132;
}
