.navbar {
  display: flex;
  justify-content: space-between;
  height: 64px;
  padding-inline: 1.4em;
  position: relative;
}
.navbar::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 95%;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  background-color: var(--Light-grayish-blue);
}
.brand {
  display: flex;
  gap: 1em;
  align-items: center;
}

.wrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 15.62em;
  height: 100vh;
  opacity: 0.5;
  pointer-events: none;
  visibility: hidden;
  box-shadow: 5px 0 15px rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
  transition: left 0.3s ease-in-out;
  z-index: 100;
}
.wrapper.open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.nav-list {
  margin-inline-start: 1.05em;
  margin-block-start: 3.2em;
}
.nav-item {
  margin-block-end: 1.6em;
}
.nav-link {
  font-weight: 700;
  letter-spacing: 2px;
}
.btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.btn.size {
  margin-inline-start: 1.05em;
  margin-block-start: 1.5em;
}
/* profile cart setting */
.profile-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2em;
}
.avatar {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
.avatar:hover {
  outline: 2px solid var(--Orange);
}

.cart {
  position: relative;
}
.cart-position {
  position: absolute;
  top: -12px;
  left: 4px;
  background-color: var(--Orange);
  font-weight: 700;
  padding: 2px 8px;
  font-size: 12px;
  border-radius: 8px;
}
/* Cart empty and fill */
.cart-box {
  position: absolute;
  top: 76px;
  left: 50%;
  transform: translateX(-50%);
  width: 96%;
  height: 256px;
  background-color: var(--White);
  border-radius: 8px;
  z-index: 200;
  display: none;
  flex-direction: column;
  box-shadow: 0px 1px 8px 2px rgba(0, 0, 0, 0.15);
}
.cart-box > h3 {
  width: 100%;
  padding-left: 24px;
  padding-top: 20px;
  padding-bottom: 24px;
  border-bottom: 1px solid var(--Light-grayish-blue);
  letter-spacing: -2px; /*Is this right*/
}
.cart-details {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.cart-box.open {
  display: flex;
}
.nav-link {
  color: var(--Dark-grayish-blue);
}
@media (min-width: 768px) {
  .navbar {
    margin-inline: 2em;
    /* height: 5em; */
  }
  .close-btn,
  .menu-btn {
    display: none;
  }

  .wrapper {
    position: static;
    visibility: visible;
    opacity: 1;
    width: auto;
    height: auto;
    background-color: transparent;
    box-shadow: none;
    pointer-events: auto;
  }
  .nav-list {
    display: flex;
    font-size: 14px;
    gap: 2em;
    margin-left: 4px;
    margin-top: 0;
  }
  .nav-item {
    position: relative;
  }
  .nav-link:hover::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    bottom: -28px;
    background-color: var(--Orange);
  }
  .avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  /* Cart empty and fill in Tablet and desktop*/

  .cart-box {
    position: absolute;
    right: 0px;
    top: 112px;
    width: 344px;
    height: 240px;
    align-items: flex-start;
    flex-direction: column;
    left: unset;
    transform: unset;
  }
  .cart-details {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .cart-box > h3 {
    width: 100%;
    padding-left: 15px;
    padding-bottom: 28px;
  }
}
@media (min-width: 992px) {
  .navbar {
    margin-inline: 9em;
    padding-inline: 0.4em;
    height: 7em;
  }
  .wrapper {
    margin-inline-start: 2em;
  }
  .nav-list {
    gap: 1.4em;
  }
  .nav-link::after {
    bottom: -44px;
  }
  .profile-cart {
    margin-inline-end: 1em;
    gap: 3.1em;
  }
}
