.navbar {
  display: flex;
  justify-content: space-between;
  border: 1px solid red;
  padding-inline: 1.5em;
  height: 64px;
  /* padding-block: 1.5em; */
}
.brand {
  display: flex;
  gap: 1em;
  align-items: center;
}
.wrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 15.62em;
  height: 100vh;
  opacity: 0.5;
  pointer-events: none;
  visibility: hidden;
  box-shadow: 5px 0 15px rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
  transition: left 0.3s ease-in-out;
  z-index: 100;
}
.wrapper.open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.nav-list {
  margin-inline-start: 1.4em;
  margin-block-start: 1.5em;
}
.nav-item {
  margin-block-end: 1.8em;
}
.nav-link {
  font-weight: 700;
  letter-spacing: 2px;
}
.btn {
  border: none;
  background-color: transparent;
}
.btn.size {
  margin-inline-start: 2em;
  margin-block-start: 2em;
}
/* profile cart setting */
.profile-cart {
  display: flex;
  gap: 1.2em;
  align-items: center;
}
.avatar {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
@media (min-width: 768px) {
  .mobile-menu-button,
  .btn.size {
    display: none;
  }
  .navbar {
    padding-block: 2em;
    height: 7em;
    padding-inline: 1em;
  }
  .brand {
    gap: 0em;
  }
  .wrapper {
    position: static;
    visibility: visible;
    opacity: 1;
    width: auto;
    height: auto;
    background-color: transparent;
    box-shadow: none;
    pointer-events: auto;
  }
  .profile-cart {
    gap: 2.6em;
  }
  .nav-list {
    display: flex;
    gap: 1.25em;
  }
  .nav-item {
    margin-top: 0;
  }
  .avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
}
@media (min-width: 992px) {
  .mobile-menu-button,
  .btn.size {
    display: none;
  }
  .navbar {
    padding-block: 2em;
    height: 7em;
    padding-inline: 7em;
  }
  .brand {
    gap: 3.25em;
  }
  .wrapper {
    position: static;
    visibility: visible;
    opacity: 1;
    width: auto;
    height: auto;
    background-color: transparent;
    box-shadow: none;
    pointer-events: auto;
  }
  .profile-cart {
    gap: 2.6em;
  }
  .nav-list {
    display: flex;
    gap: 2.25em;
  }
  .nav-item {
    margin-top: 0;
  }
  .avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
}
