.product-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-inline: 1.5em;
}

.product-heading > small {
  letter-spacing: 1px;
  color: var(--Dark-grayish-blue);
}
.product-heading > h1 {
  font-size: 1.6rem;
  letter-spacing: 1px;
  margin-block-start: 0.5em;
}
.product-description {
  margin-block-start: 0.58em;
}

.product-description.text {
  color: var(--Dark-grayish-blue);
  font-size: 0.8rem;
  letter-spacing: 1px;
  line-height: 24px;
}
.product-price-level {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.4em;
}
.current-price > h2 {
  font-size: 1.9rem;
  font-weight: 700;
  color: var(--Dark-grayish-blue);
}
.current-price > h2 span {
  font-weight: 400;
  font-size: 1rem;
  background: var(--Very-dark-blue);
  color: var(--White);
  border-radius: 8px;
  padding: 4px 8px;
  margin-inline-start: 8px;
}
.discount-price > p {
  font-weight: 700;
  color: var(--Dark-grayish-blue);
  text-decoration: line-through;
}
.product-add-cart {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-top: 2em;
  margin-bottom: 2em;
}
.count {
  display: flex;
  gap: 1em;
  align-items: center;
  justify-content: space-between;
  background-color: var(--Light-grayish-blue);
  border-radius: 8px;
}
.btn.w-100 {
  padding: 8px 20px;
  font-weight: 700;
  font-size: 1.4rem;
}
.btn.btncolor {
  color: var(--Orange);
}
.btn ~ span {
  margin-left: 1px;
}
.add-to-cart {
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--Orange);
}
.add-to-cart:hover {
  cursor: pointer;
}
.btn-cart {
  padding: 8px 0;
  font-weight: 700;
  font-size: 1rem;
}
.btn-cart img {
  margin-right: 1em;
}

@media (min-width: 768px) {
}
@media (min-width: 992px) {
  .product-section {
    margin-block: 3.5em;
    padding-inline: 0;
  }
  .product-heading > h1 {
    font-size: 2.6rem;
    letter-spacing: 1px;
    margin-block-start: 0.4em;
  }
  .product-description {
    margin-block-start: 1.2em;
  }
  .product-cart {
    flex-direction: row;
  }
  .product-add-cart {
    flex-direction: row;
  }
  .count {
    flex: 1;
  }
  .add-to-cart {
    flex: 1;
  }
}
