*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  /* ### Primary */

  --Orange: hsl(26, 100%, 55%);
  --Pale-orange: hsl(25, 100%, 94%);

  /* ### Neutral */

  --Very-dark-blue: hsl(220, 13%, 13%);
  --Dark-grayish-blue: hsl(219, 9%, 45%);
  --Grayish-blue: hsl(220, 14%, 75%);
  --Light-grayish-blue: hsl(223, 64%, 98%);
  --White: hsl(0, 0%, 100%);
  /* --Black (with 75% opacity for lightbox background): hsl(0, 0%, 0%) */

  li {
    list-style: none;
  }
  a {
    text-decoration: none;
  }
}

.hide {
  display: none;
}
.mb-2 {
  margin-bottom: 20px;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "YOPQ" 300;
  font-weight: 400;
}
.border {
  border: 1px solid red;
}
@media (min-width: 768px) {
  main {
    display: flex;
    padding-top: 1em;
    padding-inline: 6em;
    gap: 2em;
    margin-block-start: 2.3em;
  }
  main > div {
    min-width: 0;
    flex: 1;
  }
}
@media (min-width: 992px) {
  main {
    padding-inline: 13em;
    gap: 7.4em;
    margin-block-start: 4.6em;
  }
}
